<html>
	<head>
		<title>india</title>
		<link rel="stylesheet" href="css/style.css"/>
	</head>
	<body>
		<section>
			<div class="container">
				<div class="wrap">
					<div class="head">
						<h1>HANDY MAN</h1>
					</div>
					<div>
						 <p class="holder">+1 952-858-8578</p>
					</div>
						<div style="clear:both"></div>
				</div>	
			</div>
		</section>
		<section>
			<div class="container">
				<div class="menu">
					<ul >
						<li><a href="#"></a></li>
						<li><a href="file:///C:/Users/Jatin/Desktop/handy.jpg">Services</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Prices</a></li>
						<li><a href="#">Our Staff</a></li>
						<li><a href="#">Contact</a></li>       
					</ul>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="head2">
					<img class="jony" src="image/handy.jpg"/>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div>	
					<div class="float ">
						<div>
							<h2>Electrical Services</h2>
						</div>
						<div class="color">
							<p>Product number 296D4PA#ACJSerial number CND0498Q63Product number 296D4PA#ACJSerial number CND0498Q63</p>
						</div>
						<button href="#" class="btn">More Details</button>
					</div>
					<div class="float">
						<div>
							<h2>Plumbing Services</h2>
						</div>
						<div class="color">
							<p>Product number 296D4PA#ACJSerial number CND0498Q63Product number 296D4PA#ACJSerial number CND0498Q63</p>
						</div>
							<button href="#" class="btn">More Details</button>
					</div>
					<div class="float">
						<div>
							<h2>Welding Services</h2>
						</div>
						<div class="color">
							<p>Product number 296D4PA#ACJSerial number CND0498Q63Product number 296D4PA#ACJSerial number CND0498Q63</p>
						</div>
							<button href="#" class="btn">More Details</button>
					</div>
						<div style="clear:both"></div>
				</div>		
			</div>
		</section>
		<section>
			<div class="container">
				<div class="wrapper">
					<div class="outer">
						<div class="test">WELCOME!</div>
							<h3 class="mad">Man is a one of free website templates created by templatesMonsters.com</h3>
								<p>Publish your passions your way. Whether you'd like to share your knowledge, experiences or the latest news, create a unique and beautiful blog for free.<p/>
					</div>
					<div class="bad">
						<div class="right">TestiMonials</div>
					</div>
						<div style="clear:both"></div>
				</div>
			</div>
		</section>
	</body>
</html>