<!DOCTYPE html>
<html>
	<head>
		<title>Sport us</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
		<link rel="stylesheet" href="css/style2.css"/>
	<body>
		<section class="container">
			<div class="wrapper">
				<div class="photo">
					<img src="image/logo.png"/>
				</div>
				<div class="head">
					<div class="out">
						<div>EMAIL</div>
							<input type="email" class="ring" placeholder="companyname@mail.com"/>
					</div>
					<div class="out">	
						<div>CALL NOW</div>
							<p>(732) 803-110-30</p>		
					</div>
				</div>
				<div class="top-btn">
					<button class="btn" href="#">DONATE NOW</button>
				</div>
				<div style="clear:both"></div>
			</div>	
		</section>
		<section class="wrap">
			<div class="wrapper">
				<div class="menu">
					<ul>
						<li><a href="#">HOME</a></li>
						<li><a href="#">ABOUT</a></li>
						<li><a href="#">CAUSES</a></li>
						<li><a href="#">EVENT</a></li>
						<li><a href="#">VOLUNTER</a></li>
						<li><a href="#">GALLERY</a></li>
						<li><a href="#">PAGES</a></li>
						<li><a href="#">BLOG</a></li> 
						<li><a href="#">CONTACT</a></li>
					</ul>
				</div>
					<div class="028"><input href="#" class="field" placeholder="search..."/></div>
					<div style="clear:both"></div>			
			</div>	
		</section>
		<section class="image">
			<div class="wrapper">
				<div class="header">
					<div class="content">
						<div>
							<div class="point">TO FEED AND EDUCATE!</div>
						</div>
						<div>
							<div class="point2">WE NEED YOUR SUPPORT</div>
						</div>
						<div>
							<div class="point3">Became A Part To Change The World</div>
						</div>
						<div class="yaad">
							<button class="qns"  href="">DONATE NOW</button>
							<button class="ans"  href="">LEARN MORE</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section >
			<div class="flash">
				<div class="wrapper">
					<div >
						<div class="float color1">
							<h1>DONTATION</h1>
							<p>5 days ago Welcome to HP Support Assistant!  Having operating system issues?</p>
							<button class="btn2" href="#">DONATE NOW</button>	
						</div>
						<div class="float color2">
							<h1>VOLUNTEER</h1>
							<p>5 days ago Welcome to HP Support Assistant!  Having operating system issues?</p>
							<button class="btn3" href="#">JOIN NOW</button>
						</div>
						<div class="float color1">
							<h1>FUNDRAISE</h1>
							<p>5 days ago Welcome to HP Support Assistant!  Having operating system issues?</p>
							<button class="btn2" href="#">READ MORE</button>
						</div>
							<div style="clear:both"></div>
					</div>
				</div>
			</div>
		</section>
		<section class="container2">
			<div class="wrapper">
				<div>
					<div>
						<div class="headone">
							<diV class="middle">Recent Causes</div>
								<p>Lorem ipsum is a dummy text it will use for subtitle here </p>
						</div>
					</div>
					<div>
						<div class="float2">
							<div>
								<img class="title" src="image/mini1.png"/>
							</div>
							<div>
								<div class="leader">
									<h2 class="miss">SPONSOR A CHILD TODAY</h2>
									<div class="paint">	
										<p>Raised: $1890  Goal: $2500</p>
										<p>Lorem ipsum is a dummy text it will use for subtitle here.it will use for subtitle here. </p>
									</div>
										<div><button class="btn4" href="#">DONATE NOW</button></div>
								</div>
							</div>	
						</div>
						<div class="float2">
							<div>
								<img class="title" src="image/mini3.png"/>
							</div>
							<div>
								<div class="leader put">
									<h2 class="miss">SPONSOR A CHILD TODAY</h2>
									<div class="paint">	
										<p>Raised: $1890  Goal: $2500</p>
										<p>Lorem ipsum is a dummy text it will use for subtitle here.it will use for subtitle here. </p>
									</div>
										<div><button class="btn4" href="#">DONATE NOW</button></div>
								</div>
							</div>	
						</div>
						<div class="float2">
							<div>
								<img class="title" src="image/mini4.jpg"/>
							</div>
							<div>
								<div class="leader">
									<h2 class="miss">SPONSOR A CHILD TODAY</h2>
									<div class="paint">	
									<p>Raised: $1890  Goal: $2500</p>
									<p>Lorem ipsum is a dummy text it will use for subtitle here.it will use for subtitle here. </p>
									</div>
										<div><button class="btn4 "href="#">DONATE NOW</button></div>
								</div>
							</div>	
						</div>
						<div class="float2">
							<div>
								<img class="title" src="image/mini1.png"/>
							</div>
							<div>
								<div class="leader">
									<h2 class="miss">SPONSOR A CHILD TODAY</h2>
									<div class="paint">	
										<p>Raised: $1890  Goal: $2500</p>
										<p>Lorem ipsum is a dummy text it will use for subtitle here.it will use for subtitle here. </p>
									</div>
										<div><button class="btn4" href="#">DONATE NOW</button></div>
								</div>
							</div>	
						</div>
							<div style="clear:both"></div>
					</div>
				</div>
			</div>
		</section>
		<section class="hello">
			<div class="wrapper">
				<div>
					<div class="small">
						<div class="yes">
							<div>Upcoming Event</div>
						</div>
						<div class="right">
							<div class="wrong" >
								<h3>CHARITY FOR EDEUCATION</h3>
								<p>Lorem ipsum is a dummy text it will use for subtitle here.it will use for subtitle here.Lorem ipsum is a dummy text it will use for subtitle here.it will use for subtitle here.</p>
							</div>
							<div class="wrong">
								<h3>CHARITY FOR EDEUCATION</h3>
								<p>Lorem ipsum is a dummy text it will use for subtitle here.it will use for subtitle here.Lorem ipsum is a dummy text it will use for subtitle here.it will use for subtitle here.</p>
							</div>
							<div class="wrong">
								<h3>CHARITY FOR EDEUCATION</h3>
								<p>Lorem ipsum is a dummy text it will use for subtitle here.it will use for subtitle here.Lorem ipsum is a dummy text it will use for subtitle here.it will use for subtitle here.</p>
							</div>
						</div>
						<div style="clear:both"></div>
					</div>
				</div>
				<div>
					<div class="floap">
						<div class="box">
							<img class="manage-width" src="image/cap.png"/>
						</div>
						<div class="l-float">
							<img class="manage-width" src="image/cap2.png"/>
							<img class="manage-width" src="image/cap3.png"/>
						</div>
						<div style="clear:both"></div>
					</div>
				</div>
					
			</div>
		</section>
		<section class="back">
			<div class="wrapper2">
				<div>
					<div>
						<div class="spell">Save Children From Hunger</div>
					</div>
					<div class="black">
						<div class="code">BECAME A PART OF THE WORLD LOREM IPSUM</div>
						<p>Lorem ipsum is a dummy text it will use for subtitle here.it will use for subtitle here.Lorem ipsum is a dummy text it will use for subtitle here.it will use for subtitle here.</p>
					</div>
					<div class="btn5">
						<button href="#" class="big">DONATE NOW</button>
						<button href="#" class="read">READ MORE</button>
					</div>
				</div>	
			</div>
		</section>
		<section class="miss-padding">
			<div class="wrapper2">
				<div class="more">
					<div class="topper">
						<div class="little">Our Gallery</div>
							<p>Lorem ipsum is a dummy text it will use for subtitle here.</p>
					</div>	
				</div>
			</div>
		</section>
		<section>
			<div>
				<div>
					<div class="leave">
						<img class="wow" src="image/help.png"/>
					</div>
					<div class="leave">
						<img class="wow" src="image/teeth.png"/>
					</div> 
					<div class="leave">
						<img class="wow" src="image/steel.png"/>
					</div>
					<div class="leave">
						<img class="wow" src="image/bless.png"/>
					</div>
					<div class="leave">
						<img class="wow" src="image/please.png"/>
					</div>
					<div class="leave">
						<img class="wow" src="image/sleep.png"/>
					</div>
					<div class="leave">
						<img class="wow" src="image/cute.png"/>
					</div>
					<div class="leave">
						<img class="wow" src="image/teeth.png"/>
					</div>
						<div style="clear:both"></div>
				</div>
			</div>
		</section>
		<section class="live">
			<div class="wrapper">
				<div CLASS="wish">
					<div style="float:left">
						<div class="mistake">We are served 35years to helpless people with trust and we are happy </div>
						<button class="btn6" href="#">BE A PART OF US </button>
					</div>
						<div style="clear:both"></div>
				</div>
			</div>
		</section>
		<section class="x-padding">
			<div class="wrapper">
				<div class="line">
					<div class="khamosio">Our Mission</div>
						<p>Lorem ipsum is a dummy text it will use for subtitle here</p>
				</div>
				<div>
					<div class="rich">
						<div class="poor">
							<h4>Charity For Education</h4>
							<p>Chernenko as the General Secretary of the Communist Party and de facto leader of the USSR. He will usher in 'glasnost' (transparency) and 'perestroika' (restructuring)</p>
							<a href="#">Read More</a>
						</div>
						<div class="poor">
							<h4>Charity For Education</h4>
							<p>Chernenko as the General Secretary of the Communist Party and de facto leader of the USSR. He will usher in 'glasnost' (transparency) and 'perestroika' (restructuring)</p>
							<a href="#">Read More</a>
						</div>
						<div class="poor">
							<h4>Charity For Education</h4>
							<p>Chernenko as the General Secretary of the Communist Party and de facto leader of the USSR. He will usher in 'glasnost' (transparency) and 'perestroika' (restructuring)</p>
							<a href="#">Read More</a>
						</div>
						<div class="poor">
							<h4>Charity For Education</h4>
							<p>Chernenko as the General Secretary of the Communist Party and de facto leader of the USSR. He will usher in 'glasnost' (transparency) and 'perestroika' (restructuring)</p>
							<a href="#">Read More</a>
						</div>
						<div class="poor">
							<h4>Charity For Education</h4>
							<p>Chernenko as the General Secretary of the Communist Party and de facto leader of the USSR. He will usher in 'glasnost' (transparency) and 'perestroika' (restructuring)</p>
							<a href="#">Read More</a>
						</div>
						<div class="poor">
							<h4>Charity For Education</h4>
							<p>Chernenko as the General Secretary of the Communist Party and de facto leader of the USSR. He will usher in 'glasnost' (transparency) and 'perestroika' (restructuring)</p>
							<a href="#">Read More</a>
						</div>
							<div style="clear:both"></div>
					</div>
				</div>
			</div>
		</section>
		<section class="mind">
			<div class="wrapper">
				<div class="swit">
						<div><img style="width:100%" src=" image/bhukha.png";/></div>
				</div>
				<div class="main">
					<div class="chair">
						<div>
							<div class="topic"> Charity For Education</div>
							<p>Goals:$4789 , Raised:$9798</p>
								<h5>Lorem ipsum is a dummy text it will use for subtitle here</h5>
								<p>Chernenko as the General Secretary of the Communist Party and de facto leader of the USSR. He will usher in 'glasnost' (transparency) and 'perestroika' (restructuring)Chernenko as the General Secretary of the Communist Party and de facto leader of the USSR. He will usher in 'glasnost' (transparency) and 'perestroika' (restructuring)</p>
								<button class="btn7" href="#">DONATE NOW</button>
						</div>			
					</div>
				</div>
					<div style="clear:both"></div>
			</div>
		</section>
		<section class="x-padding">
			<div class="wrapper">
				<div>
					<div class="paper">
						<div class="pen">Latest News</div>
						<p>Lorem ipsum is a dummy text it will use for subtitle here</p>
					</div>
				</div>
				<div class="edit">
					<div class="brown">
						<div>
							<img class="fix" src="image/child.png"/>
						</div>
						<div class="apply">
							<h6>Latest Blog Post With Image</h6>
							<p>Lorem ipsum is a dummy text it will use for subtitle here</p>
								<a href="#">Read More</a>
						</div>
					</div>
					<div class="brown">
						<div>
							<img class="fix" src="image/father.png"/>
						</div>
						<div class="apply">
							<h6>Latest Blog Post With Image</h6>
							<p>Lorem ipsum is a dummy text it will use for subtitle here</p>
								<a href="#">Read More</a>
						</div>
					</div>
					<div class="brown">
						<div>
							<img class="fix" src="image/mother.png"/>
						</div>
						<div class="apply">
							<h6>Latest Blog Post With Image</h6>
							<p>Lorem ipsum is a dummy text it will use for subtitle here</p>
								<a href="#">Read More</a>
						</div>
					</div>
						<div style="clear:both"></div>
				</div>
			</div>
		</section>
		<section class="mouse">
			<div class="wrapper">
				<div>
					<div class="clear">
						<div class="doubt">
							<img class="x-width" src="image/logo2.png"/>
						</div>
						<div class="key">
							<p>Lorem ipsum is a dummy text it will use for subtitle here</p>
							<p>60 Grant Ave Carteret NJ0708</p>
							<p>(880)1725984358</p>
							<p>example@gmail.com</p>
						</div>
					</div>
					<div class="comment">
						<div>
							<h6 class="lock">Pages</h6>
						</div>
						<div class="mujhe">
							<ul>
								<li><a href="#">About  Us</a></li>
								<li><a href="#">Causes</a></li>
								<li><a href="#">Events</a></li>
								<li><a href="#">Faq</a></li>
								<li><a href="#">Archives</a></li>
								<li><a href="#">News</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="finish" >
						<div><h6 class="lock">Latest News</h6></div>
						<div class="y-manage">
							<ul>
								<li>If you need a crown or lorem an implate you will pay it</li>
								<li>If you need a crown or lorem an implate you will pay it</li>
								<li>If you need a crown or lorem an implate you will pay it</li>
							</ul>	
						</div>
					</div>
					<div class="round">
						<div><h6 class="lock">Contact Form </h6></div>
						<div>
							<div><input type="name" class="roll" placeholder="Full Name"/></div>
							<div><input type="mail" class="roll" placeholder="Email Addres"/></div>	
							<textarea class="roll" placeholder="Your Message"></textarea>
						</div>
						<div>
							<button class="btn10">SEND</button>
						</div>
					</div>
						<div style="clear:both"></div>
				</div>
			</div>
		</section>
	</body>
</html>	