<html>
	<head>
		<title>Home Page</title>
		<link rel="stylesheet" href="css/pact.css"/>
	</head>
	<body>
		<section class="menu">	
			<div class="container">
				<div class="head-one">
					<div class="logo">NAME OF THE SITE</div>
						<ul class="nav">
							<li><a href="#">HOME</a></li>
							<li><a href="#">SERVICE</a></li>
							<li><a href="#">ABOUT</a></li>
							<li><a href="#">WORK</a></li>
							<li><a href="#">CONTACT</a></li>
						</ul>
					<div style="clear:both;"></div>
				</div>
			</div>
		</section>
		<section class="menu2">
			<div class="container2">
				<div>
				<div class="hed">
					<h1>WELCOME</h1>
					<p> Jamsetji will become one of the most successful industrialists in the country. The trading company that he sets up in 1868 will grow into the TATA empire, establishing operations in over 80 countries in the century to follow.</p>
				</div>
				<button class="btn">contact us</button>
				</div>
			</div>
		</section>	
		<section class="menu3">
				<div class="container3">
						<div class="hed2">
							<h2>Our Services</h2>
								<p> The trading company that he sets up in 1868 will grow into the TATA empire, establishing operations in over 80 countries in the century to follow.</p>
						</div>
					<div class="cloud">
						<div class="service rang1">
							<div class="centre">
								<img src="image/glob.jpg" style="width:100%;max-width:120px;"/>
							</div>
							<div class="centre">
								<h3>Service</h3>
									<p>The trading company that he sets up in 1868 will grow into the TATA empire.</p>
							</div>
						</div>
						<div class="service rang2">
							<div class="centre">
								<img src="image/www.jpg" style="width:100%;max-width:115px;"/>
							</div>
							<div class="centre">
								<h4>Service2</h4>
									<p>The trading company that he sets up in 1868 will grow into the TATA empire.</p>
							</div>
						</div>
						<div class="service rang3">
							<div class="centre">
								<img src="image/max.jpg" style="width:100%;max-width:110px;"/>
							</div>
							<div class="centre">
								<h5>Service3</h5>
									<p>The trading company that he sets up in 1868 will grow into the TATA empire.</p>
							</div>
						</div>
							<div style="clear:both;"></div>
					</div>
				</div>
		</section>
		
		
		
		
		
	</body>
</html>